<a class="sonata-action-element" href="{{ path('admin_ibrows_sonatatranslation_translationfile_create') }}">
    <i class="fa fa-refresh"></i>{{ 'action.upload_file'|trans({}, 'IbrowsSonataTranslationBundle') }}
</a>